@import "tailwindcss";

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000;
  color: #f1f5f9;
  min-height: 100vh;
  overflow-x: hidden;
}
